@use "../functions" as *;

.section--intro {
  display: grid;
  align-items: center;
  grid-template-columns: 1.25fr 1fr;
  gap: 1rem;

  @media screen and (max-width: 960px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .section__header {
    @media screen and (max-width: 960px) {
      text-align: center;
    }
  }

  .section__subtitle {
    color: var(--green);
    font-size: fluid-size(18px, 24px, 1440);
    font-family: "Open sans", sans-serif;
  }

  .section__title {
    font-size: fluid-size(20px, 32px, 1440);
    font-weight: 700;
    line-height: 1.4;
    font-family: "Open sans", sans-serif;
    margin-bottom: 2em;

    span {
      position: relative;
      display: inline-block;

      &::before {
        content: "";
        position: absolute;
        pointer-events: none;
        height: 8px;
        width: 90%;
        bottom: -0.5em;
        left: 50%;
        background: url("../images/underline.svg") no-repeat center / 100% auto;
        transform: translateX(-50%) translateY(-0.5rem);
      }
    }
  }
}
