.coffee__machine__section {
  max-width: 1446px;
  margin: 0 auto;
  padding: 0 23px;
  overflow: hidden;

  .c_m_main_heading {
    width: auto;
    height: auto;
    margin: 0 auto 10px;
    display: flex;

    @media (max-width: 768px) {
      padding-top: 64px;
      border-top: 4px solid #f15a27;
    }
  }

  .c_m_sub_heading {
    font-weight: 800;
    font-size: 68px;
    line-height: 74px;
    text-align: center;
    letter-spacing: -0.01em;
    text-align: center;
    max-width: 748px;
    position: relative;
    margin: 0 auto 66px;

    @media (max-width: 768px) {
      font-size: 40px;
      line-height: 48px;
    }

    &:before {
      content: " ";
      position: absolute;
      top: 50%;
      left: -280px;
      width: 100%;
      height: 4px;
      z-index: -1;
      background: linear-gradient(90deg, rgba(241, 90, 39, 1) 38%, rgba(9, 9, 121, 0) 38%);
      @media (max-width: 768px) {
        display: none;
      }
    }
    &:after {
      content: " ";
      position: absolute;
      top: 50%;
      right: -280px;
      width: 100%;
      height: 4px;
      z-index: -1;
      background: linear-gradient(90deg, #09097900 62%, #f15a27 38%);
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  .card_heading_two {
    font-weight: 800;
    font-size: 56px;
    line-height: 74px;
    text-align: center;
    margin: 56px 0 41px;

    @media (max-width: 768px) {
      font-size: 32px;
      line-height: 40px;
      margin: 55px 0 35px;
    }
  }

  .c_m_flex__box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;

    .one_c {
      .card_bg_img {
        background-image: url("../images/taskPage/c_machine_img_2.svg") !important;

        @media (max-width: 768px) {
          background-image: url("../images/taskPage/c_machine_img_mob_2.svg") !important;
        }
      }
    }
    .two_c {
      .card_bg_img {
        background-image: url("../images/taskPage/c_machine_img_1.svg") !important;

        @media (max-width: 768px) {
          background-image: url("../images/taskPage/c_machine_img_mob_1.svg") !important;
        }
      }
    }

    .card_box {
      width: 694px;
      min-height: 465px;
      background: #e3ebf0;
      border-radius: 16px;
      position: relative;

      @media (max-width: 768px) {
        max-width: 400px;
      }

      @media (min-width: 1099px) and (max-width: 1158px) {
        width: 520px;
      }

      @media (min-width: 1158px) and (max-width: 1440px) {
        width: 550px;
      }

      &:nth-child(2) {
        .card_bg_img {
          background-image: url("../images/taskPage/c_machine_img_7.svg");

          @media (max-width: 768px) {
            background-image: url("../images/taskPage/c_machine_img_mob_7.svg");
          }
        }
      }
      &:nth-child(3) {
        .card_bg_img {
          background-image: url("../images/taskPage/c_machine_img_6.svg");

          @media (max-width: 768px) {
            background-image: url("../images/taskPage/c_machine_img_mob_6.svg");
          }
        }
      }
      &:nth-child(4) {
        .card_bg_img {
          background-image: url("../images/taskPage/c_machine_img_5.svg");

          @media (max-width: 768px) {
            background-image: url("../images/taskPage/c_machine_img_mob_5.svg");
          }
        }
      }
      &:nth-child(5) {
        .card_bg_img {
          background-image: url("../images/taskPage/c_machine_img_4.svg");

          @media (max-width: 768px) {
            background-image: url("../images/taskPage/c_machine_img_mob_4.svg");
          }
        }
      }
      &:nth-child(6) {
        .card_bg_img {
          background-image: url("../images/taskPage/c_machine_img_3.svg");
          @media (max-width: 768px) {
            background-image: url("../images/taskPage/c_machine_img_mob_3.svg");
          }
        }
      }

      .card_bg_img {
        width: 100%;
        min-height: 465px;
        background-image: url("../images/taskPage/c_machine_img_8.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 16px;
        padding: 42px 334px 55px 45px;

        @media (max-width: 768px) {
          background-position: unset;
          background-image: url("../images/taskPage/c_machine_img_mob_8.svg");
          padding: 245px 18px 18px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }

        @media (min-width: 1099px) and (max-width: 1440px) {
          padding: 42px 240px 55px 45px;
        }

        .c_machine_img {
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
        }

        a {
          button {
            position: absolute;
            bottom: 55px;
            left: 45px;
            background: var(--white);
            z-index: 1;

            @media (max-width: 768px) {
              position: inherit;
            }
          }
        }

        .card_about {
          margin-bottom: 125px;

          @media (max-width: 768px) {
            margin-bottom: 12px;
          }

          .box_title {
            font-weight: 700;
            font-size: 32px;
            line-height: 42px;
            color: var(--black);
            margin: 0 0 18px;

            @media (max-width: 768px) {
              font-size: 20px;
              line-height: 20px;
              margin: 0 0 9px;
            }
          }
          .box_about {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: var(--black);
            @media (max-width: 768px) {
              margin-bottom: 12px;
              font-weight: 400;
              font-size: 14px;
              line-height: 23px;
            }
          }
        }
      }
    }
  }
}
