.bg-red {
  width: 100%;
  background: rgba(241, 90, 37, 0.04);
}
.coffee__moments__hero {
  max-width: 1446px;
  margin: 0 auto;
  padding: 90px 123px 74px;

  @media (max-width: 768px) {
    padding: 54px 24px 67px;
  }

  @media (min-width: 768px) and (max-width: 1400px) {
    padding: 90px 70px 74px;
  }

  .coffee__moments_headings {
    width: 516px;
    margin: 0 auto;

    @media (max-width: 999px) {
      width: 100%;
    }

    .main_heading {
      font-weight: 800;
      font-size: 68px;
      line-height: 74px;
      text-align: center;
      letter-spacing: -0.01em;
      color: var(--black);

      @media (max-width: 768px) {
        font-size: 40px;
        line-height: 48px;
      }
    }
    .sub_heading {
      width: auto;
      display: flex;
      margin: auto;

      @media (max-width: 992px) {
        margin: 0 auto 32px;
      }
    }
  }
  .c_m_cards_box {
    .c_m_card {
      display: flex;
      align-items: center;
      gap: 73.56px;

      @media (min-width: 992px) and (max-width: 1400px) {
        justify-content: space-between;
      }

      @media (max-width: 999px) {
        flex-wrap: wrap;
        margin-bottom: 32px;
        gap: 14px;
        justify-content: center;
        text-align: center;
      }

      &:nth-child(even) {
        gap: 35.21px;
        @media (max-width: 992px) {
          flex-direction: column-reverse;
          gap: 14px;
        }
      }
      &:not(:first-child) {
        margin-top: -100px;

        @media (min-width: 992px) and (max-width: 1350px) {
          margin-top: -20px;
        }
        @media (max-width: 992px) {
          margin-top: 0;
          margin-bottom: 32px;
        }
      }

      // card 1,3,5 img
      .c_m_card_img {
        width: 500.44px;
        height: 540px;
        display: block;
        @media (max-width: 768px) {
          display: none;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
          width: 435px;
          height: auto;
        }
      }
      // card 2,4 img
      .c_m_card_img_2 {
        width: 631.4px;
        height: 556.3px;
        display: block;
        @media (max-width: 768px) {
          display: none;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
          width: 515px;
          height: auto;
        }
      }
      // mobilw img

      // card 1,3,5 img
      .c_m_card_img_1_mob {
        display: none;
        @media (max-width: 768px) {
          width: auto;
          height: auto;
          display: block;
        }
      }
      // card 2,4 img
      .c_m_card_img_2_mob {
        display: none;
        @media (max-width: 768px) {
          width: auto;
          height: auto;
          display: block;
        }
      }

      .c_m_card_contant {
        width: 495px;

        @media (max-width: 992px) {
          width: 100%;
        }

        .card_heading {
          font-weight: 700;
          font-size: 32px;
          line-height: 40px;
          color: #f15a25;
          margin: 0 0 12px;

          @media (max-width: 768px) {
            font-size: 20px;
            line-height: 28px;
            margin: 0 0 8px;
          }
        }
        .card_text {
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          color: #000000;

          @media (max-width: 768px) {
            font-size: 14px;
            line-height: 26px;
          }
        }
      }
    }
  }
}
