.books_dedicated_section {
  max-width: 1446px;
  margin: 0 auto;
  text-align: center;
  padding: 82px 20px 0;

  overflow: hidden;

  .heading_img {
    max-width: 641px;
    margin: 0 auto 47px;
    position: relative;

    @media (max-width: 768px) {
      border-top: 4px solid rgba(241, 90, 39, 1);
      padding-top: 64px;
    }

    .book_heading_img {
      width: auto;
      height: auto;
    }
    &:before {
      content: " ";
      position: absolute;
      top: 50%;
      left: -280px;
      width: 100%;
      height: 4px;
      z-index: -1;
      background: linear-gradient(90deg, rgba(241, 90, 39, 1) 38%, rgba(9, 9, 121, 0) 38%);
      display: block;
      @media (max-width: 768px) {
        display: none;
      }
    }
    &:after {
      content: " ";
      position: absolute;
      top: 50%;
      right: -280px;
      width: 100%;
      height: 4px;
      z-index: -1;
      background: linear-gradient(90deg, #09097900 62%, #f15a27 38%);

      display: block;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .books_cards_box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 13px;
    @media (min-width: 1150px) and (max-width: 1441px) {
      justify-content: space-between;
    }

    .book_card {
      width: 459px;
      height: 540px;
      background: #ecd6ca;
      border-radius: 16px;
      position: relative;
      padding: 37px 31.5px 30px;

      @media (max-width: 992px) {
        width: 100%;
        padding: 37px 18px 24px;
      }

      @media (min-width: 1440px) and (max-width: 1441px) {
        width: 440px;
      }

      @media (min-width: 1350px) and (max-width: 1440px) {
        width: 425px;
        padding: 37px 16.5px 30px;
      }
      @media (min-width: 1250px) and (max-width: 1350px) {
        width: 390px;
        padding: 37px 16.5px 30px;
      }
      @media (min-width: 1150px) and (max-width: 1250px) {
        width: 361px;
        padding: 37px 16.5px 30px;
      }

      &:last-child {
        width: 100%;
        height: 422px;
        padding: 61px 80px 66px;
        @media (max-width: 992px) {
          padding: 23px 15px 23px 24px;
          height: 631px;
        }
      }

      //  bg img
      .b_c_bg_img {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        height: auto;
      }

      .b_c_bg_img-4 {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        height: auto;
        display: block;
        @media (max-width: 992px) {
          display: none;
        }
      }

      .b_c_bg_img-mob {
        display: none;
        @media (max-width: 992px) {
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 631px;
        }
      }

      //
      .card_main_contant_5 {
        position: relative;
        text-align: left;
        width: 507px;

        @media (max-width: 992px) {
          width: 100%;
        }

        .book_headig_5 {
          margin: 0 0 17px;
          font-weight: 800;
          font-size: 40px;
          line-height: 50px;
          color: var(--black);

          @media (max-width: 768px) {
            font-size: 28px;
            line-height: 38px;
            margin-bottom: 15px;
          }
        }
        .book_price_5 {
          font-weight: 400;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: 0.01em;
          color: var(--black);
          margin-bottom: 32px;
          @media (max-width: 768px) {
            font-size: 24px;
            line-height: 38px;
            margin-bottom: 15px;
          }
        }
        a {
          button {
            background: #f15a25;
            color: var(--white);
          }
        }
      }

      .card_main_contant {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: -webkit-fill-available;
        position: relative;

        .book_img {
          width: auto;
          object-fit: contain;
        }

        .boox_about {
          text-align: left;
          width: -webkit-fill-available;
          .book_headig {
            font-weight: 700;
            font-size: 32px;
            line-height: 44px;
            color: var(--black);
            margin: 0 0 12px;

            @media (max-width: 768px) {
              margin: 0 0 15px;
              font-size: 20px;
              line-height: 20px;
            }
          }

          .book_buy {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 768px) {
              align-items: flex-start;
              flex-direction: column;
            }

            .book_price {
              font-weight: 600;
              font-size: 30px;
              line-height: 28px;
              color: var(--black);
              @media (max-width: 768px) {
                margin-bottom: 17px;
                font-size: 20px;
                line-height: 20px;
              }
            }

            a {
              button {
                background-color: var(--white);
              }
            }
          }
        }
      }
    }
  }
}
