@use "sass:color" as c;
@use "../../functions" as *;

.home_barista__container.section--love-earth {
  max-width: 1446px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;

  .h_b_main_heading_img {
    width: auto;
    height: auto;

    @media (max-width: 768px) {
      padding-top: 64px;
      border-top: 4px solid #f15a27;
    }
  }

  .h_b_sub_heading {
    font-weight: 800;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.01em;
    margin: 0 0 39px;

    @media (max-width: 768px) {
      font-size: 40px;
      line-height: 48px;
      margin: 0 0 40px;
    }
  }

  .home_barista_slider_box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 16px;

    @media (min-width: 768px) {
      display: none;
    }

    .slider_card {
      width: 456px;
      border-radius: 16px;
      box-shadow: 0px 14px 44px rgba(121, 121, 121, 0.16);
      @media (max-width: 768px) {
        width: 100%;
      }

      .h_b_card_img {
        width: 100%;
        object-fit: cover;
        height: 296px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
      }
      .h_b_card_cantant {
        text-align: left;
        padding: 28px 29px 34px;

        @media (max-width: 768px) {
          padding: 18px 30px 34px 26px 24px;
        }
        .main_heading {
          font-weight: 700;
          font-size: 24px;
          line-height: 34px;
          margin: 0 0 11px;

          @media (max-width: 768px) {
            font-size: 20px;
            line-height: 32px;
            margin: 0 0 8px;
          }
        }
        .main_text {
          font-weight: 600;
          font-size: 16px;
          line-height: 28px;

          @media (max-width: 768px) {
            font-size: 16px;
            line-height: 28px;
          }
        }
      }
    }
  }

  // -----------------------------------------------------------------------

  .mob_S_S {
    display: block;
    @media (max-width: 768px) {
      display: none;
    }

    .love-earth {
      &-slider {
        .splide__nav {
          display: grid;
          align-items: center;
          position: relative;
          margin-block: 2rem 0;
        }

        .splide__arrows,
        .splide__pagination {
          grid-area: 1 / 1;
        }

        .splide__arrows {
          pointer-events: none;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 16px;
          height: 0 !important;

          &:first-child {
            margin-left: -43px;
          }
          &:nth-child(2) {
            margin-right: -43px;
          }
        }

        .splide__arrow {
          pointer-events: auto;
          width: 112px;
          height: 112px;
          background: rgba(0, 0, 0, 0.8);
          border-radius: 50%;
          border: none;
          display: inline-flex;
          cursor: pointer;
          transition: opacity 0.2s ease;
          justify-content: space-between;
          position: relative;
          z-index: 1;
          top: 198px;
          margin-right: -43px;

          &:hover {
            opacity: 0.5;
          }

          &--prev {
            svg {
              transform: scaleX(-1);
            }
          }

          svg {
            margin: auto;
            width: auto;
            height: auto;
            fill: var(--white);
            vertical-align: middle;
          }
        }

        // .splide__pagination {
        //   display: flex;
        //   align-items: center;
        //   justify-content: center;
        //   gap: 0.5rem;
        //   padding: 0;

        //   &__page {
        //     background: transparent;
        //     width: 1rem;
        //     height: 1rem;
        //     flex: 0 0 1rem;
        //     border-radius: 1rem;
        //     border: 1px solid var(--white);
        //     cursor: pointer;
        //     transition: opacity 0.2s ease;

        //     &.is-active {
        //       background-color: var(--white);
        //     }

        //     &:hover {
        //       opacity: 0.5;
        //     }
        //   }
        // }
      }

      &-card {
        background: #fff;
        border-radius: 16px;
        box-shadow: 0px 14px 44px rgba(121, 121, 121, 0.16);
        text-align: left;
        &__image-wrapper {
          width: 100%;
          object-fit: cover;
          height: auto;
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;

          @media screen and (max-width: 550px) {
            height: auto;
          }
        }

        &__image {
          width: 100%s;
          height: 100%;
        }

        &__title {
          font-weight: 700;
          font-size: 24px;
          line-height: 34px;
          padding: 28px 29px 0;
          margin: 0 0 5px;
        }

        &__description {
          font-weight: 600;
          font-size: 16px;
          line-height: 28px;
          padding: 0 29px 18px;
        }
      }
    }
  }
}
